<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyThuVien.Properties.Settings.QuanLyThuVienConnectionString"
            connectionString="Data Source=REMVN-DESKTOP;Initial Catalog=QuanLyThuVien;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>